/* Retirando todas as margins e paddings do página */
* {
    margin: 0;
    padding: 0;
}

/* Aterando o tamanho da imagem e colocando uma raio na borda */
#img {
    max-width: 8rem;
    border-radius: 10rem;
    margin-top: -4rem;
    border: 5px solid #fff;
}

/* Deixando todos dentro do main centralizado */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02619D;
}

main {
    margin-top: 8rem;
    height: 30rem;
    background-color: #fff;
    width: 40rem;
    border-radius: 5px;
}

div {
    display: flex;
    justify-content: center;
}

/* Colocando a descrição um pouco separado em cima e com uma largura fixa */
#descricao {
    margin-top: 2rem;
    max-width: 28rem;
    margin-bottom: 2rem;
}

#subtitle {
    margin-top: 0.1rem;
}

#title {
    margin-top: 1rem;
    max-width: 30rem;
}

#work, #edu {
    margin: 0rem 5rem;
    display: flex;
    justify-content: center;
}